
.alertPopUp {
    background-color: #aeccccff;
    height: 210px;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid black;
    border-radius: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    z-index: 100;
    animation-name: popUpAnimation ;
    animation-duration: 3000ms;
    animation-fill-mode: forwards ;
  }
  
  .alertBtn {
    background-color: transparent;
    border: none;
  }

  @keyframes popUpAnimation {
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0.9;
    }
    100%{
        opacity: 0;
        display: none;
    }
  }

.color-ffffff {
  color: #ffffff;
}

.color-000000 {
  color: #000000;
}