#muteBtn{
    position: fixed;
    font-weight: 500px;
    bottom: 18%;
    right: 3%;
    font-size: 16px;
    border: none;
    color: white;
    background-color: #A13D63;
    padding: 10px;
    border-radius: 50%;
}