*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: roberto;
}

li{
    list-style: none;
    text-decoration: none;
    font-size: 2rem;
    color: white;
    margin-bottom: 20px;
}

 li:hover{
      color: #E0E0E0;
      cursor: pointer;
  }

.off-screen-menu{
    background-color: #34495e;
    height: 60vh;
    width: 50%;
    max-width: 450px;
    position: fixed;
    top: 0;
    right: -450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 3 rem;
    transition: opacity 0.2s ease;
    
}

.sign-in-btn{
   position: absolute;
   padding: 8px;
   width: 70px;
    right: 85px;
    margin-top: 6px;
    font-size: 14px;
}

.off-screen-menu.active{
    right: 0;
}

nav{
    padding: 1rem;
    display: flex;
    background-color: #34495e;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0.1);
}

.hamburger-menu{
    height: 50px;
    width: 50px;
    margin-left: auto;
    position: relative;
    transition: opacity 0.2s ease;
}

.hamburger-menu span{
    height: 5px;
    width: 100%;
    background-color: #1abc9c;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    transition: .3s ease;
}

.hamburger-menu span:nth-child(1){
    top: 25%;
}

.hamburger-menu span:nth-child(3){
    top: 75%;
}

.hamburger-menu.active span:nth-child(1){
top: 50%;
transform: translate(-50%, 0%) rotate(50deg);
}

.hamburger-menu.active span:nth-child(2){
    opacity: 0;
}

.hamburger-menu.active span:nth-child(3){
    top: 50%;
    transform: translate(-50%, 0%) rotate(-50deg);
}

@media (min-width: 750px) {
    .hamburger-menu{
        visibility: hidden;
        
    }
  .off-screen-menu{
      right: 230px;
      background-color: #34495e;
      height: 10vh;
      align-items: center;
      display: flex;
      justify-content: space-between;
      margin-top: 10px;
      width: 400px;
      top: 0;
      transition: opacity 0.5s ease-in-out;
     
  }
  .hamburger-menu span{
    transition: opacity 0.2s ease;
  }
  ul{
      display: flex;
      justify-content: space-between;
      margin-top: 10px;
      width: 400px;
      
      
  }

  .sign-in-btn{
     right: 100px;   
     
 }
 

  
}