header {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    background-color: #557a87ff;
}

.nav {
    display: flex;
}

li{
    list-style: none;
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 600;
}

.position-icon, .log-out-icon{
    opacity: 0;
}


li:hover{
    color: #36454F;
    cursor: pointer;
}

input {
    padding: 0.5rem;
    outline: none;
}

.tab-panel {
    display: none;
}
  
.tab-panel.active {
    display: block;
}

.user {
    display: flex;
    align-items: center;
}

.user > h3 {
    order: 2;
    padding-left: 0.5rem;
    font-size: 1.6rem;
}

button.btn-styling {
    line-height: 0;
    height: 30px;
    padding: 1rem;
    
}
.hover-container{
    display: flex;
  align-items: center;
}

#loggedInUsername{
    margin-right: 15px;
}

.off-screen-menu{
    background-color: #557a87ff;
    height: 60vh;
    width: 50%;
    max-width: 300px;
    position: fixed; 
    top: 0;
    right: -450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 3rem;
    transition: opacity 0.2s ease;
}

.off-screen-menu.active{
    right: 0;
}

nav{
    padding: 1rem;
    display: flex;
    background-color: #557a87ff;
}


.hamburger-menu{
    height: 50px;
    width: 50px;
    margin-left: auto;
    position: relative;
    transition: opacity 0.2s ease;
}

.hamburger-menu span{
    height: 5px;
    width: 100%;
    background-color: black;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    transition: .3s ease;
}

.hamburger-menu span:nth-child(1){
    top: 25%;
}

.hamburger-menu span:nth-child(3){
    top: 75%;
}

.hamburger-menu.active span:nth-child(1){
top: 50%;
transform: translate(-50%, 0%) rotate(50deg);
}

.hamburger-menu.active span:nth-child(2){
    opacity: 0;
}

.hamburger-menu.active span:nth-child(3){
    top: 50%;
    transform: translate(-50%, 0%) rotate(-50deg);
}

 .hide {
    display: none;
} 

@media (min-width: 768px) {
    header {
        height: 10vh;
    }

    .user {
        order: 2;
        display: flex;
        justify-content: center;
        margin: 0 2rem;
        
    }

    .user > h3 {
        order: revert;
        padding-left: 0;
        padding-right: 10px;
    }

    button.btn-styling {
        padding: 0;
    }

    .nav {
        width: 100%;
        justify-content: flex-end;
    }

    .off-screen-menu{
      height: auto;
      position: static;
      display: flex;
      width: 100%;
      transition: opacity 0.5s ease-in-out;
    }

    .nav > nav {
        padding: 0;
    }
    
    .off-screen-menu > ul {
        width: 100%;
        display: flex;
        justify-content: space-around;
    }
    
    .hamburger-menu {
        display: none;
    }

    .hamburger-menu span{
        transition: opacity 0.2s ease;
    }

    .user-drop-down{
        display:none;
        width: 100px;
        height: 40px;
        background-color: black;
        position:absolute;
        border-radius: 30px;
        
        
    
    }
    
    .hover-container{
        position:relative;
    }
    .hover-container:hover .user-drop-down{
        display:block;
        
    }

    .user-drop-down{
        
        position:absolute;
        top: 25px;
        left: -12px;
    }
    .position-icon{
        opacity: 1;
        margin-right:10px;
    }
    .btn-drop-down{
        margin-top: 5px;
        background-color:black;
        color:white;
        font-size: 14px;
        width: 60px;
        margin-left: 10px;
        
    }

    .log-out-icon{
       opacity: 1;
        color: #fafafa; 
        
    }
    
    
}
