

.popUpSignInVisable{
    margin: auto;
    background-color: #aeccccff;
    height: 280px;
    width: 270px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black; 
    margin-bottom: 20px;
   
    
}

.close-sign-in {
    position:relative;
    top:-40px;
    left: 14px;
    cursor: pointer;
    font-size: 2rem;
    font-weight: bold;
    color: white;
  }
  
  .close-sign-in:hover {
    color: black;
  }

.form-input{
    width: 180px;
    border:none;
    border-bottom: 1px solid black;
    background-color: #aeccccff;
    font-size: 1rem;
   
}


.form-input:first-of-type{
    margin-top: 90px;
}
.form-input:nth-of-type(2){
    margin-top: 10px;
}

.button-box{
    margin-top: 60px;
    width: 220px;
    position: absolute;
    top:60px;
    left: 50px;
    box-shadow: 0 0 20px 9px #6c9999ff;
    border-radius: 30px;
    display:flex;
    justify-content:space-between;
    
}
.form-button{
    margin-top: 30px;
    width:150px;
    padding: 10px 30px;
    background: linear-gradient(to right, purple, #1abc9c);
    border: 0;
    border-radius: 30px;
    color: white;
    font-weight: bolder;
    font-size: 14px;
    
}

.log-out-btn{
    position: absolute;
    width: 70px;
    right: 85px;
    margin-top: 6px;
    font-size: 14px;
  line-height: 3;
  border: 1px solid black;
  border-radius: 4px;
  background-color: #aeccccff;
}
.toggle-btn{
    line-height: 0;
    cursor: pointer;
    background: transparent;
    border:0;
    outline: none;
    position: relative;
    color:white;
    font-size: 14px;
    font-weight: bolder;
    
}

.toggle-btn:first-of-type{
    margin-right: 30px;
    
}

#toggle-button{
position: absolute;
left: 0px;
width: 110px;
height: 100%;
background: linear-gradient(to right, purple, #1abc9c);
border-radius: 30px;
transition: .5s;
}

#toggle-button-right{
    position: absolute;
    left: 110px;
    width: 110px;
    height: 100%;
    background: linear-gradient(to right, purple, #1abc9c);
    border-radius: 30px;
    transition: .5s; 
}

@media (min-width: 750px){
    .button-box{
       
        top: 70px;
        left: 560px;
        
       
        
    }

    .popUpSignInVisable{
        
        height: 350px;
        width: 400px;
      
        
    }

    .close-sign-in {
        position:relative;
        top:-50px;
        left: 83px;
        
      }

    .form-button{
        margin-top: 60px;
        
        
    }

   

    
}

